.Tilt {
	position: absolute;
	left: 80px;
	top: 50px;
	border: 2px solid rgb(255,0,255);
	background: linear-gradient(to right, rgb(153, 230, 255), rgb(255, 153, 255));
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}
.logoImg {
	height: 120px;
	width: 120px;
}