body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(153, 230, 255), rgb(255, 153, 255));
}
.particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}